<h1><%= @billboard.title %> - Artists</h1>

<% if @billboard.artists %>
  <% @billboard.artists.each do |artist| %>
    <%= artist.name %>
  <% end %>
<% else %>
<p> This billboard has no artists yet. </p>
<% end %>


<%= link_to 'Add a new artist', new_billboard_artist_path(@billboard) %>
<%= link_to 'Back to Billboard', billboard_path(@billboard) %>